#forgot-password{
    display: flex;
    flex-direction: column;
}
.forgot-password-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.forgot-password-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.forgot-password-btn button{
    width: 150px;
    margin-bottom: 20px;
    color: #fff;
    background-color: rgb(70, 70, 244);
}
#forgot-password p{
    color: rgb(70, 70, 244);
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}
#forgot-password p:hover{
    color: #ccc;
}
.forgot-password-btn button:hover{
    background-color: #fff;
    color: #000;
}