#reset-success{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.reset-success-title {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 700;
}
.reset-success-login{
    text-decoration: underline;
    color: rgb(70, 70, 244);
    cursor: pointer;
}
.reset-success-login:hover{
    color: #ccc;
}