#reset-password{
    display: flex;
    flex-direction: column;
}
.reset-password-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.reset-password-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.reset-password-input label{
    font-weight: 700;
}
.reset-password-btn{
    text-align: center;
}
.reset-password-btn button{
    width: 150px;
}